.grid-item {
    margin-bottom: 30px;
    visibility: hidden;
    margin-top: 10px;
}

article {
    background-color: #A5F2F3;
    padding: 20px;
    font-size: 19px;
    margin-bottom: 30px;
}

.date {
    padding: 20px;
    font-size: 19px;
    margin-top: -80px;
}

.nextPage a {
    text-decoration: none;
    color: #ED6C33;
    font-size: 33px;
    font-family: myFirstFont; 
}

.prevPage a {
    text-decoration: none;
    color: #ED6C33;
    float: right;
    font-size: 33px;
    font-family: myFirstFont; 
}

.recentPostThumbnail img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.recentPosts {
    background-color: #FF9B4E;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.recentLinks a,
.recentLinks ul {
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.recentPostsTitle {
    font-size: 26px;
    text-align: center;
    color: black;
}

.post {
    background-color: #FF9B4E;
}

.post a {
    text-decoration: none;
}

.postThumbnail img {
    width: 100%;
    height: 100%;
}

.postTitle a {
    color: #333;
    text-decoration: none;
}

.authorText h2 {
    color: #9B111E;
    font-size: 23px;
}

.postTitle {
    margin-top: -10px;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .post {
        font-size: 16px;
    }
    .postThumbnail img {}
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .postThumbnail img {}
    .post {
        font-size: 16px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .post {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1290px) {
    .post {
        font-size: 18px;
    }
}
