.grid-item {
    margin-bottom: 30px;
    visibility: hidden;
    margin-top: 10px;
}

article {
    background-color: #A5F2F3;
    padding: 20px;
    font-size: 19px;
    transition: background-color 1s;
    margin-bottom: 30px;
}

.recentPosts {
    background-color: #FF9B4E;
    width: 100%;
    padding: 20px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.recentLinks ul li a {
    text-decoration: none;
}

.recentPostsTitle {
    font-size: 26px;
    text-align: center;
}

.post {
    background-color: #FF9B4E;
}

.post a {
    text-decoration: none;
}

.postThumbnail img {
    width: 100%;
    height: 100%;
}

.postTitle a {
    color: black;
    text-decoration: none;
}

.authorText h2 {
    color: #9B111E;
    font-size: 23px;
}

.postTitle {
    margin-top: -10px;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .post {
        font-size: 16px;
    }
    .postThumbnail img {}
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .postThumbnail img {}
    .post {
        font-size: 16px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .post {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1290px) {
    .post {
        font-size: 18px;
    }
}
