.navbar-default .navbar-nav>li>a {
    color: #ED6C33;
    font-family: myFirstFont;
    font-size: 22px;
}

#menu-item-47 a,
#menu-item-48 a,
#menu-item-49 a,
#menu-item-22 a,
#menu-item-27 a,
#menu-item-28 a,
#menu-item-34 a,
#menu-item-33 a {
    font-family: myFirstFont;
    font-size: 27px;
    color: #ED6C33;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    font-family: myFirstFont;
    font-size: 25px;
    color: #ED6C33;
}

.navbar-nav {
    float: right;
}

.navbar-default .navbar-toggle {
    border-color: #ED6C33;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ED6C33;
}


/*  ---------------------- Telefoon ------------------- */

.headerHome {
    height: 250px;
    padding-top: 100px;
    text-align: center;
    background-size: cover;
    margin-bottom: 30px;
}

.header {
    height: 250px;
    padding-top: 100px;
    text-align: center;
    background-size: cover;
    margin-bottom: 30px;
    background-image: url('../images/header-desktop.jpg');
}

.navbar-nav {
    float: left;
}

h1 {
    font-family: myFirstFont;
    font-size: 50px;
    color: #31525A;
}

h2 {
    color: #31525A;
}

h3 {
    color: #ED6C33;
    font-size: 30px;
}


/*  ---------------------- Tablets ------------------- */

@media only screen and (min-width: 768px) {
    .headerHome {
        height: 400px;
        padding-top: 190px;
        margin-bottom: 30px;
    }
    .header {
        height: 400px;
        padding-top: 190px;
        margin-bottom: 30px;
        background-image: url('../images/header-desktop.jpg');
    }
    .navbar-nav {
        float: right;
    }
    h1 {
        font-family: myFirstFont;
        font-size: 70px;
    }
}


/*  ---------------------- Desktop ------------------- */

@media only screen and (min-width: 1200px) {
    .headerHome {
        height: 450px;
        padding-top: 190px;
        margin-bottom: 30px;
    }
    .header {
        height: 450px;
        background-image: url('../images/header-desktop.jpg');
        padding-top: 190px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 100px;
    }
}
