.content-overons {
    height: auto;
    margin-bottom: 50px;
}

.foto {
    width: 100%;
    height: 250px;
    visibility: hidden;
}
.foto img {
    width: 100%;
    height: 250px;
}

p.tekst {
    font-family: PlatteTekst;
    font-size: 17px;
    visibility: hidden;
}

.over-ons-item {
  margin-bottom: 20px;
}