body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    margin: 0 auto;
}

section.section-first {
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

section.section-first > .text {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.text img {
      -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

#main {
    text-align: center;
}

.tekst {
    margin: 0 auto;
}

#more {
    margin: 20px auto 48px;
}

@media only screen and (max-width: 767px) {
   .text {
        margin: 70px 0 10px;
    }
}

@media only screen and (max-width: 520px) {
   .text {
        margin: 40px 0 10px;
    }
    .text img {
        width: 350px;
        height:100px;
    }
}

@media only screen and (max-width: 370px) {
   .text {
        margin: 30px 0 10px;
    }
    .text img {
        width: 290px;
        height:90px;
    }
}